/* MEDIA QUERIES */
@media (max-width: 1300px) {
    section {
        width: 80%;
        padding: 0 10%;
    }
}

@media (max-width: 1200px) {
    section {
        width: 90%;
        padding: 0 5%;
        min-height: 100vh;
    }

    .home-img-profile {
        width: 300px;
    }

    .home-info h1 {
        font-size: 2.3rem;
    }
}

@media (max-width: 1000px) {
    .home-info h1 {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
    }

    section {
        width: 90%;
        padding: 0 5%;
        height: auto;
    }

    .home-img-profile {
        width: 200px;
    }

    .home-info h1 {
        font-size: 1.6rem;
    }

    .home {
        flex-direction: column;
        justify-content: center;
    }

    .about-container {
        flex-direction: column;
        justify-content: center;
    }

    .skills-container {
        flex-direction: column;
        justify-content: center;
    }

    .skills-body {
        margin: 0;
    }

    .about-text {
        margin-right: 0;
    }
}

@media (max-width: 800px) {
    section {
        width: 80%;
        padding: 0 10%;
    }

    .images-container {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }

    .about-img img {
        width: 150px;
        margin-top: 1rem;
    }

    .skills-img img {
        width: 150px;
        margin-top: 1rem;
    }

    .projects-container {
        margin-top: 1rem;

    }

    /* .nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #4b4b4b;
    height: auto;
  
  }
  .nav-list{
      flex-direction: column;
  }

  .hamburger {
    width: 3rem;
    height: 3rem;
    border: 3px solid #222222;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    align-self: flex-end;
    margin: 1rem;
  }
  .bar{
    height: 2px;
    width: 2rem;
    position: relative;
    background-color: #222222;
  }
  .bar::after, .bar::before{
      content:'';
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #222222;
      left: 0;
  }
  .bar::after{
      top: 8px;
  }
  .bar::before{
      bottom:8px
  }
  .nav-list ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .nav-list ul li a {
    color: #fff;
    font-size: 1.5rem;
    line-height: 2;
  }  */
}

@media (max-width: 600px) {
    .nav-bar {
        visibility: collapse;
    }

    .home-info h1 {
        font-size: 1rem;
    }
}

/* end of MEDIA QUERIES */